imports:
   - { resource: project-config.yml }

parameters:
  chameleon_system_core.cache.allow: false
  chameleon_system_core.cache.default_max_age_in_seconds: 60

  chameleon_system_core.resources.enable_external_resource_collection: false

framework:
  router:
    resource: "%kernel.root_dir%/config/routing_dev.yml"
    strict_requirements: true
  profiler: { only_exceptions: false }
  test: true

web_profiler:
    toolbar: false
    intercept_redirects: false

chameleon_system_core:
  redirectstrategy: "throwexception"