cms_tpl_page_home:
  path: '/'
  defaults:
    _controller: chameleon_system_core.tpl_page_controller:getPage
    pagePath: '/'

cms_tpl_page:
  path: /{pagePath}
  defaults: { _controller: chameleon_system_core.tpl_page_controller:getPage }
  requirements:
    pagePath: ".*"
