.TDataCustomListConfig {
}

.TDataCustomListConfig .introText {
  margin-bottom:20px;
}
.TDataCustomListConfig .moreInfoLink, .TDataCustomListConfig .returnToListLink  {
  display:block;
  background:url(arrow-right.gif) no-repeat 0px 3px;
  padding-left:18px;
  color:#005AAB;
  text-decoration: none;
  float:right;
  margin-top:8px;
  font-weight:bold;
  clear:both;
}
.TDataCustomListConfig .returnToListLink {
  float:left;
  background-image:url(arrow-left.gif);
  clear:none;
}

.TDataCustomListConfig .pagenavi {
  clear:both;
  padding-top:5px;
  padding-bottom:15px;
}
.TDataCustomListConfig .pagenavi .nextPageLink {
  display:block;
  background:url(arrow-right.gif) no-repeat right;
  padding-right:18px;
  color:#005AAB;
  text-decoration: none;
  float:right;
}

.TDataCustomListConfig .pagenavi .previousPageLink {
  display:block;
  background:url(arrow-left.gif) no-repeat left;
  padding-left:18px;
  color:#005AAB;
  text-decoration: none;
  float:left;
}

/* ---------------------------------------------------------------------------------------------- */
.TDataCustomListConfig .standard .closingText {
  margin-top:30px;
}
.TDataCustomListConfig .TDataCustomListItem .standard .previewimage {
  float:left;
  width:165px;
}

.TDataCustomListConfig .standard div.list {
  border-top:1px solid #A0A0A0;
}
.TDataCustomListConfig .standard div.list div.list {
  border-top:none;
}

.TDataCustomListConfig .TDataCustomListItem .standard {
  border-bottom:1px solid #A0A0A0;
  padding-top:12px;
  padding-bottom:12px;
}



/* ---------------------------------------------------------------------------------------------- */
.TDataCustomListItem .detail div.previewimage{
  padding:0px 0px 0px 0px;
  margin:0px 0px 9px 0px;
}
.TDataCustomListItem .detail .teaserText{
  margin-bottom:16px;
}
.TDataCustomListItem .detail .detailText{
  margin-bottom:9px;
}
/* ---------------------------------------------------------------------------------------------- */
