{#
    description:
    parameters:
        ** sStepName
        ** sHeadLine
        ** sText
#}

<div class="snippetPkgNewsletterSignUpNoNewsToSignUp">
    {% include '/pkgNewsletter/signUp/headlineWithWYSIWYGText.html.twig' %}
</div>