.checkbox,
.radio {
    padding: 0 !important;
    margin: 10px 0 !important;
    line-height: 20px !important;
    font-size: 14px !important;
    border: 0 !important;
    display: block !important;
    min-height: 0 !important;
}

.snippetMediaManagerBackendModuleStandard {
    background: #fff;
    position: relative;
}

.snippetMediaManagerBackendModuleStandard:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.snippetMediaManagerBackendModuleStandard .media-search-box {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 10px 10px;
    padding-right: 20px;
}

.snippetMediaManagerBackendModuleStandard .media-search-box input {
    padding-right: 24px;
}

.snippetMediaManagerBackendModuleStandard .media-search-box .search-button {
    position: absolute;
    top: 7px;
    right: 25px;
    border: medium none;
    background: none;
    font-size: 14px;
    outline: none;
}

.snippetMediaManagerBackendModuleStandard .split,
.snippetMediaManagerBackendModuleStandard .split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.snippetMediaManagerBackendModuleStandard .gutter {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

.snippetMediaManagerBackendModuleStandard .gutter.gutter-horizontal {
    background-image: url('../lib/Split.js/grips/vertical.png');
    cursor: ew-resize;
}

.snippetMediaManagerBackendModuleStandard .gutter.gutter-vertical {
    background-image: url('../lib/Split.js/grips/horizontal.png');
    cursor: ns-resize;
}

.snippetMediaManagerBackendModuleStandard .split.split-horizontal,
.snippetMediaManagerBackendModuleStandard .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.snippetMediaManagerBackendModuleStandard .multiple-selected,
.snippetMediaManagerBackendModuleStandard .delete-multiple-selected {
    font-size: 16px;
    line-height: 24px;
}

.snippetMediaManagerBackendModuleStandard .delete-multiple-selected {
    color: #cc0000;
    margin-top: 10px;
    cursor: pointer;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerMediaTree {
    width: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.snippetMediaManagerBackendModuleStandard .edit-container {
    position: relative;
    padding-left: 10px;
    min-height: 250px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader {
    margin-bottom: 20px;
    padding: 0 15px 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar {
    margin-top: 10px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .headline {
    margin-top: 0;
    float: left;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .headline .glyphicon {
    font-size: 16px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .subtree-options {
    float: right;
    margin-top: 0 !important;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .delete-with-usage-search-option {
    float: right;
    margin-top: 0 !important;
    margin-right: 20px !important;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar {
    float: left;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar .search-box {
    display: inline-block;
    position: relative;
    width: 240px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar .search-box input {
    padding-right: 24px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar .search-box .search-button {
    position: absolute;
    top: 7px;
    right: 0;
    border: medium none;
    background: none;
    font-size: 14px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar > a {
    font-size: 16px;
    display: inline-block;
    margin-left: 15px;
    text-decoration: none;
    cursor: pointer;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar > a .glyphicon {
    font-size: 14px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar > a.delete .glyphicon {
    color: #cc0000;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector {
    float: right;
    font-size: 16px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view {
    cursor: pointer;
    color: #ababab;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view:hover {
    color: #8b8b8b;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view.active {
    color: #000;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .sort-order {
    float: right;
    border: 1px solid #ccc;
    background: #fff;
    height: 28px;
    line-height: 28px;
    margin-right: 20px;
    position: relative;
    top: -3px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    padding-bottom: 50px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row {
    padding: 0 5px 0 0;
    margin: 0;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row:after {
    content: " ";
    flex: auto;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col {
    width: 16.666666667%;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .inner {
    border: 2px solid #fff;
    box-shadow: 0 0 10px #fff;
    box-sizing: border-box;
    height: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .inner.xselectable-selected {
    border: 2px solid #f77878;
    box-shadow: 0 0 10px #fd8e8e;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .image-container {
    align-items: center;
    background: url('../img/transparency.png') repeat;
    text-align: center;
    min-height: 100px;
    display: flex;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .image-container img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .caption {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin: 7px 0 0;
    padding: 10px 0 0 0;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .caption form input {
    width: 100% !important;
    height: 30px !important;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF !important;
    border: 1px solid #A9C4E7 !important;
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 7px;
    margin-top: 7px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions > a {
    margin: 0 4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .delete-item {
    float: left;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .show-details {
    float: right;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .pick-image {
    float: right;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .no-items-message {
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .editable {
    position: relative;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .editable:after {
    content: "\270f";
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    position: absolute;
    right: 2px;
    top: 4px;
    cursor: pointer;
    z-index: 2;
    display: none;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .editable form {
    position: relative;
    z-index: 3;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGridLarge .image-row .image-col {
    width: 25%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGridLarge .image-row .image-col .image-container {
    min-height: 200px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList {
    padding-bottom: 50px;
    padding-right: 15px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .xselectable-selected {
    background: #eeeeee;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .caption {
    font-size: 14px;
    line-height: 1.4;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .caption form input {
    width: 100% !important;
    height: 30px !important;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF !important;
    border: 1px solid #A9C4E7 !important;
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col {
    box-sizing: border-box;
    padding: 10px 15px 10px 7px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col .image-container {
    text-align: center;
    background: transparent url('../img/transparency.png') repeat;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col .image-container img {
    vertical-align: middle;
    max-width: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table {
    width: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td {
    font-size: 14px;
    line-height: 1.4;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td div {
    font-size: 14px;
    line-height: 1.4;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table tr th {
    padding-bottom: 7px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table tr th:first-child {
    padding-left: 7px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td.image,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table th.image {
    width: 20%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td.selection-box,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table th.selection-box {
    padding-left: 15px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td.info,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table th.info {
    line-height: 26px;
    font-size: 13px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td.info img,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table th.info img,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table td.info .glyphicon,
.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table th.info .glyphicon {
    margin-right: 2px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .actions {
    text-align: right;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .actions > a {
    margin-right: 7px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .tags {
    display: inline-block;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .tags .glyphicon {
    margin-right: 1px;
    position: relative;
    top: 2px;
    margin-left: 4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .tags .glyphicon:first-child {
    margin-left: 0;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList table .tags form input {
    width: 100% !important;
    height: 30px !important;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF !important;
    border: 1px solid #A9C4E7 !important;
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListPaging {
    padding: 0 10px 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListPaging .pagination {
    margin-top: 0;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListPaging .TFullGroupTablePerPageSelect select {
    margin-left: 8px;
    position: relative;
    top: -1px;
}

.snippetMediaManagerBackendModuleStandard .media-manager-layover .title {
    margin-top: 5px;
}

.snippetMediaManagerBackendModuleStandard .media-manager-layover .close-button {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-left: 8px;
    cursor: pointer;
    float: right;
    left: -10px;
}

.snippetMediaManagerBackendModuleStandard .media-manager-layover .close-button span {
    position: relative;
    top: 1px;
}

.snippetMediaManagerBackendModuleStandard .loading-animation {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    text-align: center;
}

.snippetMediaManagerBackendModuleStandard .loading-animation img {
    margin-top: 100px;
}

.snippetCmsCustomerNavigationTree .edit-frame iframe {
    width: 100%;
    border: medium none;
    height: 400px;
}

.xselectable-glass {
    background-color: transparent;
    z-index: 100;
    cursor: hand;
    cursor: pointer;
}

.xselectable-box {
    border: 1px dotted #BBB;
    background: rgba(0, 0, 0, 0.04);
}

.media-manager-dragging-ghost {
    margin: 10px 0 0 10px;
    background: #fff;
    border: 1px solid darkgray;
    padding: 5px;
}

.media-manager-dragging-ghost .additions-text {
    display: block;
}

.media-manager-dragging-ghost .additions-text.has-target {
    color: darkgreen;
}

#search-category-auto-complete,
#search-all-auto-complete {
    display: none;
    position: absolute;
    z-index: 100;
    top: 33px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    min-width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#search-category-auto-complete .group-headline,
#search-all-auto-complete .group-headline {
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px dashed #999;
}

#search-category-auto-complete .record-link,
#search-all-auto-complete .record-link {
    cursor: pointer;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px dashed #999;
}

#search-category-auto-complete .record-link:last-child,
#search-all-auto-complete .record-link:last-child {
    border-bottom: medium none;
}

.snippetMediaManagerDetail hr {
    color: #dedede;
    background-color: #dedede;
}

.snippetMediaManagerDetail .details {
    display: flex;
}

.snippetMediaManagerDetail .details .image {
    width: 40%;
}

.snippetMediaManagerDetail .details .image img.preview {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.snippetMediaManagerDetail .details .edit-form {
    width: 60%;
    padding-left: 20px;
}

.snippetMediaManagerDetail .details .edit-form iframe {
    width: 100%;
    border: none;
    height: 100%;
    min-height: 450px;
    overflow-x: hidden;
}

.snippetMediaManagerDetail .details .info {
    line-height: 24px;
    font-size: 14px;
    margin-top: 20px;
}

.snippetMediaManagerDetail .version-list .name {
    font-size: 16px;
    margin-bottom: 10px;
}

.snippetMediaManagerDetail .version-list td {
    vertical-align: top;
    padding-bottom: 30px;
}

.snippetMediaManagerDetail .version-list td.image {
    text-align: right;
    padding-right: 20px;
}

.snippetMediaManagerDetail .version-list td.image img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ccc;
}

