
.snippetMediaManagerBackendModuleStandard {
    background: #fff;
    height: 100vh;
}

.snippetMediaManagerBackendModuleStandard:after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.snippetMediaManagerBackendModuleStandard .media-search-box {
    display: inline-block;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0 10px 10px;
    padding-right: 20px;
}

.snippetMediaManagerBackendModuleStandard .media-search-box input {
    padding-right: 24px;
}

.snippetMediaManagerBackendModuleStandard .media-search-box .search-button {
    position: absolute;
    top: 7px;
    right: 25px;
    border: medium none;
    background: none;
    font-size: 14px;
    outline: none;
}

.snippetMediaManagerBackendModuleStandard .split,
.snippetMediaManagerBackendModuleStandard .split-flex {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}

.snippetMediaManagerBackendModuleStandard .gutter {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    background-position: 50% 10%;
}

.snippetMediaManagerBackendModuleStandard .gutter.gutter-horizontal {
    background-image: url('../lib/Split.js/grips/vertical.png');
    cursor: ew-resize;
}

.snippetMediaManagerBackendModuleStandard .gutter.gutter-vertical {
    background-image: url('../lib/Split.js/grips/horizontal.png');
    cursor: ns-resize;
}

.snippetMediaManagerBackendModuleStandard .split.split-horizontal,
.snippetMediaManagerBackendModuleStandard .gutter.gutter-horizontal {
    height: 100%;
    float: left;
}

.snippetMediaManagerBackendModuleStandard .multiple-selected,
.snippetMediaManagerBackendModuleStandard .delete-multiple-selected {
    font-size: 16px;
    line-height: 24px;
}

.snippetMediaManagerBackendModuleStandard .delete-multiple-selected {
    color: #cc0000;
    margin-top: 10px;
    cursor: pointer;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerMediaTree {
    width: 100%;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.snippetMediaManagerBackendModuleStandard .edit-container {
    position: relative;
    padding-left: 10px;
    min-height: 500px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .headline i {
    position: relative;
    top: -5px;
    font-size: 1rem;

}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .top-bar .switch .switch-slider {
    width: 40px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector {
    font-size: 20px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view {
    cursor: pointer;
    color: #ababab;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view:hover {
    color: #8b8b8b;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .list-view-selector .list-view.active {
    color: #000;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar a {
    cursor: pointer;
    color: #555;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListHeader .action-bar a:hover {
    color: #000;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    padding-bottom: 50px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row {
    margin: 0 -4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col {
    padding: 4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .inner {
    border: 2px solid #c8ced3;
    box-shadow: 0 0 10px #c8ced3;
    box-sizing: border-box;
    height: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .inner.xselectable-selected {
    border: 2px solid #20a8d8;
    box-shadow: 0 0 10px #20a8d8;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .image-container {
    align-items: center;
    background: url('../img/transparency.png') repeat;
    text-align: center;
    min-height: 100px;
    display: flex;
    border-bottom: 1px solid #c8ced3;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .image-container img {
    max-width: 100%;
    margin: auto;
    display: block;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .caption {
    text-align: center;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 10px 0 0 0;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .caption form input {
    width: 100% !important;
    height: 30px !important;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF !important;
    border: 1px solid #A9C4E7 !important;
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 4px;
    margin-top: 4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions > a {
    margin: 0 4px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .delete-item {
    float: left;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .show-details {
    float: right;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .image-row .image-col .actions .pick-image {
    float: right;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListGrid .no-items-message {
    padding: 0 5px;
}

.snippetMediaManagerBackendModuleStandard {
    font-size: 14px;
    line-height: 1.4;
}

.snippetMediaManagerBackendModuleStandard .list-header {
    border-top: 1px solid #c8ced3;
    border-bottom: 1px solid #c8ced3;
    background: #f2f2f2;
    font-weight: bold;
}

.snippetMediaManagerBackendModuleStandard .cms-media-item {
    border-bottom: 1px solid #c8ced3;
}

.snippetMediaManagerBackendModuleStandard .cms-media-item .image-col img {
    max-width: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .cms-media-item .actions > a {
    padding: 3px 6px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .xselectable-selected {
    background: #eeeeee;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .caption {
    font-weight: bold;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .caption form input {
    width: 100% !important;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col .image-container {
    text-align: center;
    background: transparent url('../img/transparency.png') repeat;
    border: 1px solid #c8ced3;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .image-col .image-container img {
    vertical-align: middle;
    max-width: 100%;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .tags {
    display: flex;
    align-items: flex-start;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .tags .fa-tag {
    position: relative;
    top: 2px;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .tag.editable {
    width: 100% !important;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .info td {
    vertical-align: top;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .info td:first-child {
    padding-right: 5px;
    text-align: center;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerListList .info td i {
    margin-right: 0 !important;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerDeleteConfirmDelete .item-to-delete-name {
    font-weight: bold;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerDeleteConfirmDelete .title-usages {
    font-weight: bold;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerDeleteConfirmDelete .img-usages .usages-header {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerDeleteConfirmDelete .img-usages .usage-item {
    border-bottom: 1px solid #f2f2f2;
}

.snippetMediaManagerBackendModuleStandard .snippetMediaManagerDeleteConfirmDelete .img-usages .usage-item:last-child {
    border-bottom: none;
}

.snippetMediaManagerBackendModuleStandard .media-manager-layover .title {
    margin-top: 5px;
}

.snippetMediaManagerBackendModuleStandard .media-manager-layover .close-button {
    font-size: 16px;
    position: relative;
    top: 3px;
    margin-left: 8px;
    cursor: pointer;
    float: right;
    left: -10px;
}

.snippetMediaManagerBackendModuleStandard .loading-animation {
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    text-align: center;
}

.snippetMediaManagerBackendModuleStandard .loading-animation img {
    margin-top: 100px;
}

.snippetCmsCustomerNavigationTree .edit-frame iframe {
    width: 100%;
    border: medium none;
    height: 400px;
}

.xselectable-glass {
    background-color: transparent;
    z-index: 100;
    cursor: pointer;
}

.xselectable-box {
    border: 1px dotted #BBB;
    background: rgba(0, 0, 0, 0.04);
}

.media-manager-dragging-ghost {
    margin: 10px 0 0 10px;
    background: #fff;
    border: 1px solid darkgray;
    padding: 5px;
}

.media-manager-dragging-ghost .additions-text {
    display: block;
}

.media-manager-dragging-ghost .additions-text.has-target {
    color: darkgreen;
}

#search-category-auto-complete,
#search-all-auto-complete {
    display: none;
    position: absolute;
    z-index: 100;
    top: 33px;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    min-width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

#search-category-auto-complete .group-headline,
#search-all-auto-complete .group-headline {
    font-weight: bold;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px dashed #999;
}

#search-category-auto-complete .record-link,
#search-all-auto-complete .record-link {
    cursor: pointer;
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px dashed #999;
}

#search-category-auto-complete .record-link:last-child,
#search-all-auto-complete .record-link:last-child {
    border-bottom: medium none;
}

.snippetMediaManagerDetail hr {
    color: #dedede;
    background-color: #dedede;
}

.snippetMediaManagerDetail .details .image img.preview {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.snippetMediaManagerDetail .details .edit-form iframe {
    width: 100%;
    border: none;
    height: 50vh;
    min-height: 450px;
    overflow-x: hidden;
}

.snippetMediaManagerDetail .details .info td {
    vertical-align: top;
}

.snippetMediaManagerDetail .version-list .name {
    font-size: 16px;
    margin-bottom: 10px;
}

.snippetMediaManagerDetail .version-list td {
    vertical-align: top;
    padding-bottom: 30px;
}

.snippetMediaManagerDetail .version-list td.image {
    text-align: right;
    padding-right: 20px;
}

.snippetMediaManagerDetail .version-list td.image img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ccc;
}
