#jqContextMenu ul {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: "Segoe UI", Arial, helvetica, sans-serif;
  font-weight: normal;
  background-color: #fff;
}

#jqContextMenu ul li {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#jqContextMenu ul li.firstnode {
  margin-bottom: 3px;
  border-bottom: 1px solid #999999;
}

#jqContextMenu ul li img {
  float: left;
  margin-right: 2px;
}

#jqContextMenu ul a {
  position: relative;
  top: 0px;
  color: #000;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: block;
  font-size: 11px;
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  border: 1px solid #fff;
}

#jqContextMenu ul a {
  background-color: #fff;
  margin:0px 0px 0px 0px;
  background-image: none;
  padding: 2px 2px 5px 2px;
}

#jqContextMenu ul a:hover {
  background-color: #316AC5;
  color: #fff;
}

#jqContextMenu ul a.haschildren {
  background: #fff url(../images/breadcrumb/arrow.gif) no-repeat scroll right center;
}

#jqContextMenu ul a.haschildren:hover {
  background: #316AC5 url(../images/breadcrumb/arrow.gif) no-repeat scroll right center;
  color: #fff;
}

#jqContextMenu ul {
  position:absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 152px;
  display: block;
  border: 1px solid #999999;
}

#jqContextMenu ul li {
  display:block;
  width: 150px;
}

#jqContextMenu ul ul {
  position:absolute;
  left: 150px;
  top: 0px;
  margin: 0px;
  padding: 0px;
}

#jqContextMenu ul li.directionLeft ul {
  left:-150px;
}


#jqContextMenu ul ul {
  display:none;
}

#jqContextMenu ul li:hover ul {
  display:block;
}