{% extends 'BackendLayout/base.html.twig' %}

{% block sidebar %}
    {{ backend_module('sidebar') }}
{% endblock %}

{% block header %}
    <header class="header header-sticky mb-4">
        <div class="container-fluid">
            {{ backend_module('headerimage') }}
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid">
            {{ backend_module('breadcrumb') }}
        </div>
    </header>
{% endblock %}

{% block main %}
    <main class="flex-grow-1 px-3">
        <div class="container-fluid h-100 content px-0">
            {% block main_module %}
                {{ backend_module('contentmodule') }}
            {% endblock %}
        </div>
    </main>
{% endblock %}
