{% set bg = 'bg-transparent' %}
{% extends 'BackendLayout/base.html.twig' %}

{% block header %}
{% endblock %}

{% block main %}
    <main>
        <div class="mb-1 mr-1">
            {{ backend_module('contentmodule') }}
        </div>
    </main>
{% endblock %}

{% block backend_footer %}
{% endblock %}
{% block modal_dialog %}
    {{ parent() }}
{% endblock %}
{% block footer_includes %}
    {{ parent() }}
{% endblock %}
