<many-to-many field="{{ fieldName }}" target-entity="{{ targetClass }}">
    <join-table name="{{ joinTable }}">
        <join-columns>
            <join-column name="source_id" referenced-column-name="id"/>
        </join-columns>
        <inverse-join-columns>
            <join-column name="target_id" referenced-column-name="id"/>
        </inverse-join-columns>
    </join-table>
    <options>
        <option name="comment">{{ comment }}</option>
    </options>
</many-to-many>