{# @var definition array #}
<field name="{{ fieldName }}" type="{{ type }}" column="{{ column }}" length="36" nullable="false" unique="true">
    <options>
        <option name="fixed">true</option>
        <option name="comment">{{ comment }}</option>
    </options>
</field>