/**
* CSS styles to render download links, flash replacements and some basic wysiwyg issues
*/

.cmsdownloaditem a,
.cmswysiwyg .cmsdownloaditem a,
.cmsdownloaditem a:hover,
.cmswysiwyg .cmsdownloaditem a:hover
{
    text-decoration: none;
}

.fiv-cla, .fiv-viv, .fiv-sqo {
    font-size: 1.5em;
}

span.wysiwyg_cmsdownloaditem {
    color: #0000EE !important;
    text-decoration: underline !important;
}

/**
 * jquery.flash.js alt text
 *
 * @deprecated - since 6.3.0
 */
.flash-replaced .alt {
    display: none;
}

a.cmsanchor {
    padding: 0;
    margin: 0;
    height: 0;
    line-height: 0;
    width: 0;
}

span.cssmediacaption {
    display: block;
}

a.cmsmediafullimagelink {
    padding-left: 0;
    background-image: none;
}