.MTGlobalListCore {
}

.MTGlobalListCore .listitem{
  margin-bottom:15px;
}


.MTGlobalListCore .listitem .articledate{
  float:right;
  font-weight:bold;
}

.MTGlobalListCore .listitem h1{
}

.MTGlobalListCore .listitem a.detaillink, .MTGlobalListCore .listitem a.listlink {
  background-image:url(/chameleon/web_modules/MTGlobalListCore/images/detaillink.gif);
  background-repeat:no-repeat;
  background-position:0px 4px;
  padding-left:11px;
}
.MTGlobalListCore .listitem a.listlink {
  background-image:url(/chameleon/web_modules/MTGlobalListCore/images/backlink.gif);
}