{# @var treeNodes \ChameleonSystem\CoreBundle\DataModel\BackendTreeNodeDataModel #}

<div id="navigationTreeDataContainer" class="p-4"
     data-field-name = "{{ fieldName }}"
     data-tree-nodes-ajax-url = "{{ treeNodesAjaxUrl | raw }}"
     data-ckeditorfuncnum="{{ CKEditorFuncNum }}">

    <div id="singleTreeNodeSelectWysiwyg" class="navigationTreeContainer"></div>
</div>

{{ breadcrumbStorageHTML | raw }}

