{# @var treeNodes \ChameleonSystem\CoreBundle\DataModel\BackendTreeNodeDataModel #}

<div id="singleNavigationTreeDataContainer"
     data-field-name = "{{ fieldName }}"
     data-tree-nodes-ajax-url = "{{ treeNodesAjaxUrl | raw }}"
     data-update-primary-node-of-page-url = "{{ updatePrimaryNodeUrl | raw }}" >

    <div id="singleTreeNodeSelect" class="navigationTreeContainer"></div>
</div>

{{ breadcrumbStorageHTML | raw }}
