<div class="card">
    <div class="card-header">
        <h3 class="mb-0"><i class="nav-icon fas fa-file-alt"></i> {{'chameleon_system_core.document_manager.title'|trans}}</h3>
    </div>
    <div class="card-body">
        <div style="min-height: 700px;">
            {{ include( 'CMSDocumentManager/standard.html.twig' , {displayFull: true} ) }}
        </div>
    </div>
</div>