
.jstree.jstree-checkbox-selection li.no-checkbox > a > i.jstree-checkbox {
    display: none;
}

.jstree.jstree-checkbox-selection .jstree-disabled.jstree-clicked {
    background: unset;
}

.treelegend .activeConnectedNode {
    font-style: normal;
    color: #23282c;
    background: #beebff;
    background: -webkit-linear-gradient(top, #beebff 0%, #a8e4ff 100%);
    background: linear-gradient(to bottom, #beebff 0%, #a8e4ff 100%);
}

.navigationTreeContainer .activeConnectedNode.primaryConnectedNodeOfCurrentPage .jstree-wholerow,
.treelegend .activeConnectedNode.primaryConnectedNodeOfCurrentPage {
    color: #666;
    background: #beebff;
    background: -webkit-linear-gradient(top, #7ABAFF 0%, #7ABAFF 100%);
    background: linear-gradient(to bottom, #7ABAFF 0%, #7ABAFF 100%);
}

.treelegend > div {
    display: flex;
    align-items: flex-start;
}

.treelegend > div .nodeIndicatorIcon {
    width: 2.5em;
    text-align: center;
}

.treelegend .rightClickMenuDisabled {
    color: #FF0000;
}