{#
    description: renders newsletter sign in for my account module
    vars

    aTextData
    sNewsletterMessages
    bNewsletterSubscribed
    sActionLink - link to subscribe or unsubscribe newsletter

#}

<div class="snippetNewsletterMyAccount">
    {% if aTextData %}
        {% include "/common/textBlock/textBlockSmallHeadline.html.twig" with aTextData%}
    {% endif %}
    {{sNewsletterMessages|raw}}
    {% if bNewsletterSubscribed == true%}
        <div class="newsletterSubscribed">
            <span>{{'chameleon_system_newsletter.newsletter.signout_my_account'|trans({'%sActionLink%':sActionLink~'#newsletter'}) | raw}}</span>
        </div>
    {% else %}
        <div class="newsletterNotSubscribed">
            <span>{{'chameleon_system_newsletter.newsletter.signup_my_account'|trans({'%sActionLink%':sActionLink~'#newsletter'}) | raw}}</span>
        </div>
    {% endif %}
</div>