.ModuleFeedback {

}
.ModuleFeedback table {

}
.ModuleFeedback th {
  vertical-align:top;
  width:119px;
  padding-right:15px;
}
.ModuleFeedback td {
  padding-bottom:11px;
}
.ModuleFeedback input {
  border-style:solid;
}
.ModuleFeedback textarea {
  border-style:solid;
  height:100px;
  font-size:12px;
}
.ModuleFeedback input.submitbutton {
  width:auto;
  height:auto;
}
.ModuleFeedback input.button {
  border:none;
  background-position: 3px center !important;
}
.ModuleFeedback table.selling-channels tr th,
.ModuleFeedback table.selling-channels tr td {
  vertical-align:middle;
  padding: 3px 3px;
}
.ModuleFeedback table.selling-channels tr th {
  vertical-align:middle;
  background:#CFD0D1;
  text-transform:uppercase;
}
.ModuleFeedback table.selling-channels tr .radio {
  text-align:center;
  border-left:1px solid #FFFFFF;
}
.ModuleFeedback table.selling-channels tr .no-wrap {
  white-space:nowrap;
}
.ModuleFeedback table.selling-channels tr.oddrow {
  background:#E8E8E9;
}
.ModuleFeedback .button {
  margin-left: 0;
  width: auto;
}