.MTExtranet .loginboxcontainer th {
  padding-bottom:5px;
  text-align:left;
  font-weight:normal;
  padding-right:4px;
}
.MTExtranet .loginboxcontainer td {
  padding-bottom:5px;
}
.MTExtranet .loginboxcontainer td input {
  width:107px;
  height:14px;
  line-height:14px;
  border:1px solid #D7D7D8;
}
.MTExtranet .loginboxcontainer a {
  margin-top:3px;
  background-image:url(/images/link.gif);
  background-position:0px 5px;
  background-repeat:no-repeat;
  padding-left:6px;
  display:block;
  font-size:10px;
  color:#8D8D91;
}

.MTExtranet .error {
  font-weight:bold;
  color:#C92D1E;
}



.MTExtranet .forgotpwd input.submitbutton {
  width:auto;height:auto;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  border:none;
}

.MTExtranet .forgotpwd th {
  padding-bottom:5px;
  text-align:left;
  font-weight:bold;
  padding-right:5px;
}

.MTExtranet .forgotpwd td {
  padding-bottom:5px;
  padding-right:5px;
}
.MTExtranet .forgotpwd td input {
  width:200px;
  height:14px;
  line-height:14px;
  border:1px solid #D7D7D8;
}

.MTExtranet .restricted {
}