.faqliste{
}
.faqliste h1 {
}
.faqliste .introtext {
  padding-bottom:20px;
}

/* paging block */
.faqliste .itemlist .listpageing {
}
.faqliste .itemlist .listpageing .backlink {
}
.faqliste .itemlist .listpageing .nextlink {
}
.faqliste .itemlist .listpageing .pageinfo {
}

/* the question list block (ol or ul) */
.faqliste .itemlist .questions {
  padding-bottom:20px;
}
.faqliste .itemlist .questions li {
  margin-bottom:15px;
}
.faqliste .itemlist .questions .qdescription{
}

/* the answer list block (ol or ul) */
.faqliste .itemlist .answers {
}
.faqliste .itemlist .answers li {
  margin-bottom:15px;
}
.faqliste .itemlist .answers .qdescription {
  font-style: italic;
  font-weight:bold;
}
.faqliste .itemlist .answers .answer{
}
.faqliste .itemlist .answers .returntoquestionlist a{
  background-image:url(top.gif);
  background-repeat: no-repeat;
  background-position:left;
  padding-left:15px;

}