{# @var breadcrumb \ChameleonSystem\BreadcrumbBundle\Library\DataModel\BreadcrumbDataModel #}
{# @var breadcrumbItem \ChameleonSystem\BreadcrumbBundle\Library\DataModel\BreadcrumbItemDataModel #}

{% if breadcrumb|length > 0 %}
    <div class="breadcrumb-wrapper d-print-none">
        <nav aria-label="breadcrumb" class="container d-flex">
            <br>
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumb">
                {% for breadcrumbItem in breadcrumb %}
                    <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumb-item" aria-current="page">
                        {% if not loop.last %}
                        <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ breadcrumbItem.url }}" title="{{ breadcrumbItem.name }}">
                            {% endif %}
                            <span itemprop="name">{{ breadcrumbItem.name }}</span>
                            {% if not loop.last %}
                        </a>
                        {% endif %}
                        <meta itemprop="position" content="{{ loop.index }}" />
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endif %}
