header .header-brand {
  padding: 0;
  max-width: 300px;
}

a {
  text-decoration: none;
}

.btn-primary, .btn-danger {
  color: $white !important;
}

.form-switch {
  &.form-switch-lg {
    min-height: 1.3125rem; //reset to .form-check
    padding-left: 2.5em;

    .form-check-input {
      width: 2em;
      height: 1em;
      margin-left: -2.5em;
    }
  }
  &.form-switch-xl {
    min-height: 2em;  //lg * 1.5
    padding-left: 3.75em;

    .form-check-input {
      width: 3em;
      height: 1.5em;
      margin-left: -3.75em;
    }
  }
}

.input-group-sm>.form-control,.input-group-sm>.form-select,.input-group-sm>.input-group-text,.input-group-sm>.btn {
  text-rendering: geometricPrecision; // fixes missing underscore rendering bug in chrome
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.progress {
  #updateProgressBarText {
    padding-top: 0.2rem;
  }
}