header .header-brand {
  padding: 0;
  max-width: 300px;
}

a {
  text-decoration: none;
}

.btn-primary, .btn-danger {
  color: $white !important;
}

.form-switch {
  &.form-switch-lg {
    min-height: 1.3125rem; //reset to .form-check
    padding-left: 2.5em;

    .form-check-input {
      width: 2em;
      height: 1em;
      margin-left: -2.5em;
    }
  }
  &.form-switch-xl {
    min-height: 2em;  //lg * 1.5
    padding-left: 3.75em;

    .form-check-input {
      width: 3em;
      height: 1.5em;
      margin-left: -3.75em;
    }
  }
}

.input-group-sm>.form-control,.input-group-sm>.form-select,.input-group-sm>.input-group-text,.input-group-sm>.btn {
  text-rendering: geometricPrecision; // fixes missing underscore rendering bug in chrome
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.progress {
  #updateProgressBarText {
    padding-top: 0.2rem;
  }
}

.text-shadow-white-light {
  text-shadow: 2px 2px 1px rgba(255,255,255,0.65);
}

// fullscreen mode in property tables
.card.fullscreen-mode {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1050;
  background: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 1rem;
}

.card.fullscreen-mode .card-body {
  flex: 1 1 auto;
  overflow: auto;
}

.card.fullscreen-mode iframe {
  width: 100%;
  height: 100%;
}