/* rounded corner box */

.contentRoundedBox {
   background-color: #ffffff;
   background-image: url(../images/box/right_border.gif);
   background-repeat: repeat-y;
   margin-left: 5px;
 }

.contentRoundedBox .rightCorner {
   background-image: url(../images/box/right_border.gif);
   background-repeat: repeat-y;
   background-position: right;
}

.contentRoundedBox .topBorder {
  line-height: 0px;
  height: 15px;
  background-image: url(../images/box/top_border.gif);
  background-repeat: repeat-x;
}

.contentRoundedBox .leftBorder {
  background-image: url(../images/box/left_border.gif);
  background-repeat: repeat-y;
}

.contentRoundedBox .bottomBorder {
  line-height: 0px;
  background-position: bottom;
  height: 15px;
  background-image: url(../images/box/bottom_border.gif);
  background-repeat: repeat-x;
}