.backgroundcolor {
  background-color: #ffffff;
}

#headerLine {
  width: 100%;
  height: 90px;
  background-image: url(../images/header_bg.gif);
}

.card-action {
  cursor: hand;
  cursor: pointer;
}

.fieldMltInverseEmpty {
  margin-bottom: 2px;
}

.fieldMltInverseEmpty label {
  position: relative;
  top: -3px;
}

.fieldMltInverseEmpty .toolTipButton {
  float: none;
  position: relative;
  top: -3px;
}

#portalChooser {
    position: absolute;
	left: 200px;
	top: 78px;
	width: 200px;
	height: 75px;
	display: none;
	z-index: 15;
    padding: 5px;
    background: #F8F2AA;
    border: 2px solid #FFB608;
}

#activePortalID {
  width: 200px;
  margin-bottom: 8px;
}
