#treenodeselect {
  color: #0B224B;
}

#treenodeselect a {
  color: #0B224B;
  text-decoration: none;
}


#treenodeselect ul ul {
  padding-left:10px;
}

#treenodeselect a.active{
  font-weight:bold;

}