.tableeditcontainer h1,
.tableeditcontainer h2,
.tableeditcontainer h3 {
    margin-top: 0;
}

.tableeditcontainer .fieldName {
    background-repeat: no-repeat;
    background-position: 100%;
    padding-right: 15px;
}

.tableeditcontainer .fieldSeperator {
    padding: 5px;
    color: #EFEFEF;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    background-image: url(../images/fieldSeperator_bg.gif);
    background-repeat: repeat-x;
    height: 33px;
    vertical-align: top;
    padding-top: 7px;
}

.tableeditcontainer .fieldtext {
    min-height: 100px;
}

.tableeditcontainer .field-decimal input, .tableeditcontainer .dateInput input {
    max-width: 300px;
}

.SnippetmediaUploader {
    margin-top:10px;
}
.SnippetmediaUploader .defaultCategoryText , .SnippetmediaUploader .categorySelectorHead , .SnippetmediaUploader .categorySelector, .multiMediaImagesManage{
    margin-bottom:10px;
}

.cmsimagefielditemtitle .btn {
    padding: 0;
    font-size: 1rem;
    background: none;
    border: none;
}
.SnippetmediaUploader {
    margin-top:10px;
}
.SnippetmediaUploader .defaultCategoryText , .SnippetmediaUploader .categorySelectorHead , .SnippetmediaUploader .categorySelector, .multiMediaImagesManage{
    margin-bottom:10px;
}

.cmsimagefielditemimage img {
    max-height: 150px;
}

/* the breadcrumb in treeNode fields */
.fieldPreview {
    padding: 5px;
    border: 1px solid #ABBDCD;
    margin-bottom: 10px;
    width: auto;
}

.requiredfield {
    font-weight: bolder;
    color: #DF7D7D;
    border: none;
    font-size: 14px;
}

#quicklookuplist {
    width: 350px;
}

.row.table-editor-form-group {
    margin-left: 0;
    margin-right: 0;
}
.table-editor-form-group .translation-badge {
    position: relative;
    top: -2px;
}

.form-check.form-check-inline {
    display: inline-flex !important;
}

.checkbox-matrix {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxGroupTitle {
    width: 100%;
    margin-top: 10px;
    font-weight:bold;
    border-bottom: 1px solid black;
}

.checkboxDIV {
    display: flex;
    justify-content: space-between;
    width: 250px;
    padding: 3px;
    border-bottom: 1px solid #C1BEBE;
    border-right: 1px solid #C1BEBE;
    margin: 0px 5px 5px 0px;
}

.checkBoxHeaderActionLink {
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    padding-top: 3px;
}

.help-text-button i {
    color: #999;
}

.helptextContainer {
    display: none;
}

.helptextContainer p:last-child {
    margin-bottom: 0;
}

#tableEditorHeader th, #tableEditorHeader td, #tableEditorHeader td span, #tableEditorHeader td div {
    text-align: left;
}

#tableEditorHeader td {
    padding-right: 20px;
}

#tableEditorHeader .pageNavigationTreeSelectBox td {
    padding-right: 0px;
}

.pageNavigationTreeSelectBox .treeSelectBox div {
    float: left;
    height: 26px;
}

.pageNavigationTreeSelectBox .additionalNavis {
    position: absolute;
    display: none;
}

.pageNavigationTreeSelectBox .additionalNavis .boxborder {
    line-height: 0px;
    font-size: 0px;
    padding: 0px 0px 0px 0px;
}

.pageNavigationTreeSelectBox .additionalNavis .boxcontent {
    background-color: #f4f5f7;
}

.tagSuggestions .badge {
    font-size: 1em;
    font-weight: normal;
    padding: 5px;
    cursor: pointer;
    cursor: hand;
}

.badge.translationStateIcon {
    font-size: 1.1em;
    padding: 0 .2em;
}

.badge.translationStateIcon i {
    font-size: 1.5em;
}

.help-text-button i {
    font-size: 1.6em;
    cursor: pointer;
    cursor: hand;
}

.button-spacing {
    margin-left: 10px;
}

.badge.translation-badge {
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
}

#cmseditform .card {
    margin-bottom: 0;
}

.table-hover.ui-sortable tbody tr.ui-sortable-helper:hover {
    background-color: #20a8d8;
}

/**
 * Overwrite CKEditor theme 'moono-lisa'
 */
.cke {
    border-radius: .2rem;
}

/**
 * TCMSFieldBoolean: Add icons and custom styling for coreUI switches.
 */

label.switch .switch-input:checked ~ .switch-slider::after {
    left: 1px;
    color: #fff;
    content: attr(data-active);
}

label.switch .switch-slider {
    border-color: #f86c6b;
}

label.switch .switch-slider::after {
    position: absolute;
    top: 50%;
    right: 1px;
    z-index: 1;
    width: 50%;
    margin-top: -.5em;
    font-weight: 600;
    line-height: 1;
    color: #f86c6b;
    text-align: center;
    content: attr(data-inactive);
    transition: inherit;
}

/*
 * TCMSFieldDateTime with seconds. Overwriting a styling error that comes from the datetimepicker plugin.
 */
.bootstrap-datetimepicker-widget.dropdown-menu.wider {
    width: 38em !important;
}

.tableeditcontainer .col-form-label,
.tableeditcontainer .form-content-simple {
    /* simple input field has a padding of 0.25rem and 1px border */
    padding-top: calc(0.25rem + 1px);
    padding-bottom: calc(0.25rem + 1px);
}

.form-control:disabled,
.form-control[readonly] {
    /* for the same alignment as label */
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

@media (min-width: 1600px) {
    /* overwrite from boostrap col-sm-2 and col-sm-10 */

    #templateengine .col-template-selection,
    .tableeditcontainer .tab-content .col-form-label {
        flex: 0 0 20%;
        max-width: 20%;
    }

    #templateengine .col-template-content,
    .tableeditcontainer .tab-content .col-form-content {
        flex: 0 0 80%;
        max-width: 80%;
    }
}

#tableEditorContainer nav {
    align-content: center;
}

.btn-unsaved {
    background-color: #007bff !important;
    color: white !important;
    border-color: #007bff !important;
}