/**
 * @deprecated since 6.3.0.
 */
.tagInput {
  padding:2px;
  padding-left: 20px;
  background-image: url("../../../images/icons/tag_blue.png");
  background-position: 2px 2px;
  background-repeat: no-repeat;
  height: 22px;
}


.tagInputDiv {
  display: none;
  background-color: white;
  position: absolute;
  overflow: auto;
  border: 1px solid lightgray;
  margin-top:-1px;
  font:13px/15px arial,sans-serif;
}

.tagInputLine {
  color: black;
  font-weight: normal;
  padding:4px;
}

.tagInputSel {
  background-color: gray;
  color:white;
}


.tagInputLineTag {
  min-width: 150px;
  display: inline-block;
}

.tagInputLineFreq {
  min-width: 50px;
  text-align: right;
  display: inline-block;
  float:right;
}


.tagInputSuggestedTags {
  font-size: 12px;
  padding:2px;
  margin-top:5px;
  width: 100%;
  margin-right: 5px;
}

.tagInputSuggestedTags .label{
  font-weight:bold;
  padding-right: 5px;
  color: black;
  font-size: 12px;
}

.tagInputSuggestedTagList .tag{
  padding: 2px 4px;
  cursor:pointer;
  display:inline-block;
  margin:2px;
  background: -moz-linear-gradient(top, #7a9fbf 0%, #213861 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7a9fbf), color-stop(100%,#213861)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7a9fbf 0%,#213861 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #7a9fbf 0%,#213861 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a9fbf', endColorstr='#213861',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #7a9fbf 0%,#213861 100%); /* W3C */
  border: 1px solid #213861;
  color: #fff;
  outline: medium none;
  vertical-align: middle;
  line-height: 17px;
}

.tagInputSuggestedTagList .tag:hover, .tagInputSuggestedTagList .tagUsed {
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, #cdeb8e 0%,#a5c956 100%); /* W3C */
  color: #000;
  border-color: #a5c956;
}

.tagInputSuggestedTagList .tagInner {
  background-image: url(../../../images/icons/accept.png);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  padding-right: 20px;
}