{# createEditorUrl string #}
<a href="{{ createEditorUrl }}" class="btn btn-sm mt-2 btn-secondary create-editor">
    <span class="fas fa-paint-brush"></span> {{ 'chameleon_system_image_editor.detail_page.button_label' | trans }}
</a>