#leftside
{
  float:left;
  width:400px;
  height:560px;
}
#rightside
{
  float:right;
  width:220px;
  background-color:#F2F8FC;
  height:560px;
  text-align:left;
}
.steps
{
  font-size:13px;
  line-height:25px;
  padding-left:30px;
}
.actstep
{
  font-size:13px;
  line-height:25px;
  color:#841313;
  background-color:#B6D7F1;
  font-weight:bold;
}
.donestep
{
  font-size:13px;
  line-height:25px;
  color:#841313;
  font-weight:bold;
}
.contentheader
{
  font-size:12px;
  font-weight:bold;
}
.contentline
{
  height:20px;
}
.noerror
{
  color:#5FD25F;
  margin-top:15px;
  font-size:15px;
  font-weight:bold;
  padding-left:10px;
  background-repeat:no-repeat;
  background-position:left middle;
  line-height:30px;
}
.error
{
  color:#ED3320;
  margin-top:15px;
  font-size:15px;
  font-weight:bold;
  padding-left:10px;
  background-repeat:no-repeat;
  background-position:left middle;
  line-height:30px;
}
.stepimg
{
  margin-right:5px;
  margin-left:5px;
}
.stepimgbox
{
  float:left;
  width:30px;
  padding-top:3px;
}
.steptext
{
  width:180px;
  float:left;
  font-size:13px;
  line-height:25px;
  color:#841313;
  font-weight:bold;
}
.donesteptext
{
  width:180px;
  float:left;
  font-size:13px;
  line-height:25px;
  color:#7ED479;
  font-weight:bold;
}
.imported
{
  float:left;
  width:220px;
  height:450px;
}

.notimported
{
  float:right;
  width:220px;
  height:450px;
}
.imptext
{
  line-height:12px;
  margin-bottom:10px;
}
.imptextwarn
{
  line-height:12px;
  margin-bottom:10px;
  font-weight:bold;
  color:#FFB33C;
}
.notimptext
{
  line-height:12px;
  margin-bottom:10px;
}
.importedheader
{
  padding-left:10px;
  background-repeat:no-repeat;
  background-position:left top;
  height:52px;
}
.notimportedheader
{
  padding-left:10px;
  background-repeat:no-repeat;
  background-position:left top;
  height:52px;
}
.impintro
{
  font-size:12px;
  margin-bottom:15px;
}
.notimportedcont
{
  width:220px;
  overflow:auto;
  height:396px;
}
.importedcont
{
  width:220px;
  overflow:auto;
  height:396px;
}