.moduleType {
  font-size: 10px !important;
  font-family: Arial, helvetica, sans-serif !important;
  padding: 3px 3px 3px 3px !important;
  color: #23282c !important;
}

.moduleType i {
  font-size: 14px !important;
  margin-right: 3px;
}

.moduleType i.fa-cube {
  color: #f86c6b !important
}

.moduleInfo {
  padding: 3px 3px 3px 3px !important;
  font-size: 10px !important;
  font-family: Arial, helvetica, sans-serif !important;
  background-color: #63c2de !important;
  color: #23282c !important;
  border-top: 1px solid #fff;
}

.moduleInfo strong {
  color: #23282c !important;
}

#cmsModuleMenu {
  background: #efefef;
  border: 1px solid #20a8d8;
  height: 335px;
  left: 300px;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
  position: absolute;
  top: 50px;
  width: 227px;
  z-index: 9998;
  font-family: Arial, helvetica, sans-serif;
  font-size: 11px;
  text-align: left;
}

#cmsModuleMenu .moduleMenuHeader {
  background-color: #20a8d8;
  color:#FFFFFF;
  cursor:move;
  height:18px;
  line-height:18px;
  text-align:right;
  vertical-align:middle;
  width: 227px;
  position:absolute;
  top:0;
}

#cmsModuleMenu .moduleMenuHeader a {
	cursor: pointer;
	color: #fff;
	margin-right: 5px;
	text-decoration: none;
}

#cmsModuleMenu .moduleMenuHeader a i {
  font-size: 14px !important;
}

#cmsModuleMenu .moduleMenuHeader a:hover {
	color: #efefef;
	text-decoration: none;
}

#cmsModuleMenu #menuWrapper {
  position:absolute;
  top:32px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 14px 1px;
  overflow: hidden;
  width: 225px;
  height: 288px;
}

#menuWrapper a, #menuWrapper span {
  font-size: 11px !important;
}

#cmsModuleMenu a.scrolltop {
  position:absolute;
  top:18px;
}

#cmsModuleMenu a.scrolltop, #cmsModuleMenu a.scrollbottom {
  display: block;
  height: 14px;
  background-color: #20a8d8;
  cursor: hand;
  cursor: pointer;
  text-decoration: none;
  width: 225px;
  margin: 1px;
  line-height: 10px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding-top: 3px;
}

#cmsModuleMenu a.scrolltop:hover, #cmsModuleMenu a.scrollbottom:hover {
  text-decoration: none;
  background-color: #63c2de;
}

#cmsModuleMenu a.scrollbottom {
  position: absolute;
  bottom: 0px;
  padding-top: 0;
}

#cmsModuleMenu a.scrollbottom i {
  line-height: 10px;
}

#menuWrapper ul {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin:0;
  padding:0;
  display: block;
}

#menuWrapper ul li {
  display: block;
  margin: -1px 0px 0px 0px;
  border-top:1px solid #EFEFEF;
  width: 225px;
  position:relative;
  color: #333333;
  font-family: Arial, helvetica, sans-serif;
  background-image:none;
  padding-left:0px;
}

#menuWrapper ul li a {
  color: #000;
  display: block;
  padding: 0px 5px 0px 5px;
  background-color: #63c2de;
  text-decoration: none;
  font-family: Arial, helvetica, sans-serif;
}

#menuWrapper ul li a:hover {
  background-color: #D2E4FD;
}

#menuWrapper ul ul {
  display:none;

}

#menuWrapper ul ul {
}

#menuWrapper ul li.active ul {
  display: block;
}
#menuWrapper ul li.active ul li ul {
  display: none;
}

#menuWrapper ul li.active ul li.active ul {
  display:block;
}

#menuWrapper ul li.active ul li.active ul li ul{
  display:none;
}

#menuWrapper ul li.active ul li.active ul li.active ul{
  display:block;
}


#menuWrapper ul li a, #menuWrapper ul li a span {
  color: #333333;
}

#menuWrapper ul li.active ul li a, #menuWrapper ul li.active ul li a span {
  color: #333333;
}

#menuWrapper ul li.active ul li.active ul li a, #menuWrapper ul li.active ul li.active ul li a span {
  color: #333333;
}

#menuWrapper ul li.active ul li.active ul li.active ul li a, #menuWrapper ul li.active ul li.active ul li.active ul li a span {
  color: #333333;
}

#menuWrapper ul li a.hasChildren:after {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  right: 4px;
  position: absolute;
  top: 8px;
  text-rendering: auto;
  line-height: 1px;
}

#menuWrapper ul li a.expanded {
  color: #000;
  background-color: #D2E4FD;
  font-weight: bold;
  border-bottom: 5px solid #20a8d8;
  position:relative;
  z-index:100;
}

#menuWrapper ul li a.expanded:after {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  right: 4px;
  position: absolute;
  top: 8px;
  text-rendering: auto;
  line-height: 1px;
}

#menuWrapper ul li a.expanded span {
  color: #000;
}
#menuWrapper ul li.active{
    margin-top:-1px;
}
#menuWrapper ul li.active ul li a.expanded {
  color: #000;
  background-color: #D2E4FD;
  font-weight: bold;
  border-bottom: 1px solid #20a8d8;
}
#menuWrapper ul li.active ul li a.expanded span {
  color: #000;
}

#menuWrapper ul li.active ul li.active ul li a.expanded {
  color: #000;
  background-color: #D2E4FD;
  font-weight: bold;
  border-bottom: 5px solid #20a8d8;
}
#menuWrapper ul li.active ul li.active ul li a.expanded span {
  color: #000;
}
#menuWrapper ul li.active ul li.active ul li.active ul li a.expanded {
  color: #000;
  background-color: #D2E4FD;
  font-weight: bold;
  border-bottom: 5px solid #20a8d8;
}
#menuWrapper ul li.active ul li.active ul li.active ul li a.expanded span {
  color: #000;
}

#menuWrapper .menueicon {
  display: block;
  padding-left: 5px;
  font-size: 11px !important;
  line-height: 20px;
}

#menuWrapper .menueicon i {
  font-size: 14px !important;
  margin-right: 3px;
  width: 15px;
}

a.cmsModuleMenuLauncher {
  color: #fff;
  display: block;
  background-color: #20a8d8;
  padding: 3px 3px 3px 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 11px !important;
}

a.cmsModuleMenuLauncher i {
  font-size: 14px !important;
}

a.cmsModuleMenuLauncher:hover {
  display: block;
  background-color: #20a8d8;
  text-decoration: none;
  color: #151c55;
  cursor: pointer;
  cursor: hand;
}

.CMSModuleChooserReadOnly, .CMSModuleChooserTarget, #menuWrapper {
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-style: normal;
  line-height: 15px;
  letter-spacing: normal;
}

.CMSModuleChooserReadOnly, .CMSModuleChooserTarget {
  width: 155px;
  border: 2px solid black;
}

.CMSModuleChooserCrosshair {
  cursor: move;
  color: #000 !important;
  font-size: 16px;
  margin: 3px 5px;
}