{# @var accessRightsCrop \ChameleonSystem\MediaManager\AccessRightsModel #}
{% if accessRightsCrop.show %}
    <hr>
    <div class="versions">
        <h2 class="h3">{{ 'chameleon_system_image_crop.media_manager_crops.headline' | trans }}</h2>
        <div class="row pb-1 pt-1"><button class="load-crops">{{ 'chameleon_system_image_crop.media_manager_crops.load_crops' | trans }}</button></div>
        <div id="crops-list"></div>
    </div>
{% endif %}