{# accessRightsCrop \ChameleonSystem\MediaManager\AccessRightsModel #}
{# createCropUrl string #}
{% if accessRightsCrop.new %}<a href="{{ createCropUrl }}" class="btn btn-sm mt-2 btn-secondary create-version"><span
        class="fas fa-expand"></span> {{ 'chameleon_system_image_crop.media_manager_crops.create' | trans }}
    </a>{% endif %}